{% extends "basicTemplates/basic.html" %}
{% load staticfiles %}


{% block  subTitle %}
    <div class="container ml-0 mr-0 mt-2 mb-2 pl-2">
        <div class="row ml-0">
            <div class="col col-md-auto pl-1">
                <h3 class="align-self-end mb-0">New Questions</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <form method="POST" class="post-form" >{% csrf_token %}
        {{form}}
        <br>
        <button type="submit" class="btn btn-primary">Ask!</button>
    </form>
{% endblock %}

