{% extends "basicTemplates/basic.html" %}
{% load staticfiles %}

{% block  subTitle %}
    <div class="container ml-0 mr-0 mt-2 mb-2 pl-2">
        <div class="row ml-0">
            <div class="col col-md-auto pl-1">
                <h3 class="align-self-end mb-0"><a href="{% url 'index' %}">New Questions</a></h3>
            </div>
            <div class="col col-md-auto pl-1">
                <h3 class="align-self-end mb-0"><a href="{% url 'hot' %}">Hot Questions</a></h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% for question in questions %}
        <div class="row mx-1 border border-dark rounded bg-light ml-1 col-md-auto mb-2">
            <div class="col-1 p-0">
                <div class="m-0 p-0 col-md-auto">
                    <img src="{% static 'avatar.png' %}" class="img-thumbnail pr-2">
                </div>
                <div class="row ml-0 mr-0">
                    <div class="col p-0">
                        <img src="{% static 'plus' %}" width="20px">
                        <img src="{% static 'minus' %}" width="20px">
                        <span><br>{{ question.get_rating }}</span>
                    </div>
                </div>
            </div>
            <div class="col-10 d-inline-block">
                <div class="row ml-0 mr-0">
                    <h4 class="col"><a href="{{ question.get_absolute_url }}" class="btn-link">{{ question.title }}</a>
                    </h4>
                </div>
                <div class="row ml-0 mr-0 ">
                    <p class="col text-truncate">{{ question.text }}</p>
                </div>

                <div class="row ml-0 mr-0 ">
                    <div class="col">
                        <a href="{% url 'question' question.pk %}"
                           class="btn-link">answers{{ question.answersNumber }}</a>
                        tags:
                        <ul class="list-group-horizontal d-inline-block pl-0 ml-0">
                            {% for tag in question.tags.all %}
                                <li class="list-inline-item mr"><a href="{% url 'tag' tag.name %}"
                                                                   class="card-link">{{ tag.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}


{% endblock %}

{% block paginator %}
    <div class="pagination" style="color: #06111c;margin-top: 15px;margin-left: 15px">
        <span class="step-links">
            {% if questions.has_previous %}
                <a href="?page={{ questions.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
            </span>

            {% if questions.has_next %}
                <a href="?page={{ questions.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

