{% extends "basicTemplates/basic.html" %}
{% load staticfiles %}

{% block title %}Log in{% endblock %}

{% block headerDifferencePart %}
  {% include "basicTemplates/header_not_authorised.html" %}
{% endblock %}

{% block  subTitle %}
    <div class="container ml-0 mr-0 mt-2 mb-2 pl-2">
        <div class="row ml-0">
            <div class="col col-md-auto pl-1">
                <h3 class="align-self-end mb-0">Log in</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="alert-danger">{{ errortext }}</div><br/>

    <form method="post" action="">
    {% csrf_token %}
        {{ form.as_p }}
     <button type="submit" class="btn btn-primary">Login!</button>
    </form>
    <br>
     <a href="{% url 'registration' %}" class="card-link pt-4">Create new account!</a>
{% endblock %}

